body{

  background:#f4f7fb;

  font-family:Arial;

  padding:40px;
}

h1{

  text-align:center;

  margin-bottom:40px;

  color:#0bbde1;
}

.complaint{

  background:white;

  padding:25px;

  margin-bottom:20px;

  border-radius:15px;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.1);
}

.complaint h2{

  margin-bottom:15px;

  color:#0bbde1;
}

.complaint p{

  margin-bottom:10px;

  font-size:18px;
}